body {
	margin: 20px;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

.button {
	padding: 8px;
	border-radius: 4px;
	background-color: #555555;
}

.positive, .green {
	background-color: #95AD34;
}

.negative {
	background-color: #B8B8B8;
}

.red {
	background-color: #E85734;
}

.yellow {
	background-color: #D9D919;
	color: black;
}
